* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  flex: 1;
}
main h1 {
  margin: 20px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-container {
  min-height: 100vh;
}
.product {
  margin: 1rem;
/* border: 1px solid #404040 ; */
}
.product-info {
  text-align: center;
  padding: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.img-large {
  max-width: 100%;
}
.btn-primary {
  background-color: #ffc000;
}
.rating span {
  color: #ffc000;
}

a {
  color: #000;
}

.small-container {
  max-width: 600px;
}

.checkout:hover {
cursor: not-allowed;
}
