* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding: 1rem;
}
main h1 {
  margin: 20px 0;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 1rem;
border: 1px solid #404040 ;
}
.product-info {
  text-align: center;
  padding: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}